.newsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px -10px;
}
.newsContainer>div{
    margin: 10px 10px;
}