.itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    border-radius: 4px;
    border: 1px solid gray;
    overflow: hidden;
}

.image {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 10px;
}