.navigation {
    background-color: #2e7bb3;
    padding: 12px 0;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem {
    font-size: 24px;
    margin-right: 18px;
    list-style-type: none;
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}